<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ application.name|upper }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('themes/booty/libs/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('themes/booty/styles.css') }}#{{ application.version }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('themes/booty/img/favicon.png') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('conword_start_index') }}">
                            <img alt="Logo" src="{{ asset('themes/booty/img/conword.svg') }}">
                            <span>{{ application.name|upper }}</span>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">

                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('conword_start_index') }}"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="{{ path('conword_start_about') }}">About</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            <div class="container">
                <p>
                    <span>&copy; {{ "now"|date("Y") }} {{ application.company }}. <span class="hidden-xs">Developed with <i class="love">&hearts;</i> by {{ application.author }}</span></span>
                    <span class="pull-right">Version {{ application.version }}</span>
                </p>
            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('themes/booty/libs/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('themes/booty/libs/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>