@import "fonts/OpenSans/open-sans.css";
@import "fonts/FontAwesome/css/font-awesome.min.css";
html {
  height: 100%;
}
html .right {
  float: right;
}
html body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
  height: 100%;
}
html body header nav.navbar-inverse {
  background: #285096;
}
html body header nav.navbar-inverse a {
  color: whitesmoke !important;
}
html body header nav.navbar-inverse .navbar-brand {
  font-weight: bold;
}
html body header nav.navbar-inverse .navbar-brand > img {
  display: inline;
  height: 30px;
  margin: -5px 10px;
}
html body main {
  min-height: 100%;
  background: #F5F6FA;
}
html body main table a:link,
html body main table a:hover,
html body main table a:visited {
  color: black;
  text-decoration: none;
}
html body footer {
  height: 50px;
  margin-top: -30px;
  padding: 15px 0 0;
  color: #fff;
  background: #285096;
}
html body footer a:link,
html body footer a:hover,
html body footer a:visited {
  color: #fff;
}
.dropzone {
  border: 2px dashed #285096 !important;
  border-radius: 1em;
}
.dropzone div {
  margin: 2em 0 0 !important;
  text-align: center;
}
.dropzone div i.fa {
  font-size: 32pt;
}
.dropzone .dz-image {
  display: none !important;
}
.dropzone .dz-preview {
  display: none !important;
}
.dropzone .dz-message {
  margin: 0 !important;
}
.dz-drag-hover {
  border: 2px dashed #a110d2 !important;
  background: rgba(0, 0, 0, 0.05) !important;
}
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #285096;
}
