@import "fonts/OpenSans/open-sans.css";
@import "fonts/FontAwesome/css/font-awesome.min.css";

@primary-color: #285096;
@higlight-color: #a110d2;

html {
  height: 100%;
  .right {
    float: right;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    header {
      nav.navbar-inverse {
        background: @primary-color;
        a {
          color: whitesmoke !important;
        }
        .navbar-brand {
          font-weight: bold;
          > img {
            display: inline;
            height: 30px;
            margin: -5px 10px;
          }
        }
      }
    }
    main {
      min-height: 100%;
      background: #F5F6FA;
      table {
        a:link, a:hover, a:visited {
          color: black;
          text-decoration: none;
        }
      }
    }
    footer {
      height: 50px;
      margin-top: -30px;
      padding: 15px 0 0;
      color: #fff;
      background: @primary-color;
      a:link, a:hover, a:visited {
        color: #fff;
      }
    }
  }
}

.dropzone {
  border: 2px dashed @primary-color !important;
  border-radius: 1em;
  div {
    margin: 2em 0 0 !important;
    text-align: center;
    i.fa {
      font-size: 32pt
    }
  }
  .dz-image {
    display: none !important;
  }
  .dz-preview {
    display: none !important;
  }
  .dz-message {
    margin: 0 !important;
  }
}

.dz-drag-hover {
  border: 2px dashed @higlight-color !important;
  background: rgba(0, 0, 0, 0.05) !important;
  //transition: opacity 1s ease;
  //opacity: 0.5;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: @primary-color;
}