{% extends '@Conword/base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-8">
            <h1>Hello, wörd!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="https://getbootstrap.com/docs/3.3/getting-started/#examples" role="button">Learn more &raquo;</a></p>
            </div>
            <div class="col-lg-4 hidden-xs hidden-sm">
                <img class="right" src="{{ asset('themes/booty/img/word.svg') }}" style="width: auto; height: 260px;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('conword_start_upload') }}" enctype="multipart/form-data" class="dropzone" id="dropzone">
                    <div>
                        <i class="fa fa-folder-open-o"></i>
                    </div>
                </form>
            </div>
            <h1 id="filename"></h1>
        </div>
    </div>

    <div class="container" style="margin-top: 40px">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Document</th>
                        <th>Size</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><i class="fa fa-file-word-o"></i>&ensp;<a href="{{ file.filename }}" title="{{ file.filename }}">{{ file.filename }}</a></td>
                            <td>{{ (file.size / 1000)|round }} KB</td>
                            <td>{{ file.cTime|date('d.m.Y') }}</td>
                            <td><a href="{{ path('conword_start_remove', {file: file.filename}) }}"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('themes/booty/libs/dropzone/dropzone.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('themes/booty/libs/dropzone/dropzone.min.css') }}"/>
    <script>
        Dropzone.options.dropzone = {
            //autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 10,
            //maxFiles : 20,
            // maxFilesize: 1,
            // acceptedFiles: ".md",
            dictDefaultMessage: 'Open',
            success: function(file, response) {
                // console.log(response.files);
                // for (const docx of response.files) {
                //     alert(docx);
                //     window.location = docx;
                // }
                // const filename = file.xhr.getResponseHeader('Content-Disposition')
                //     .split('filename=')[1];
                //
                // $('#filename').text(filename);
                // window.location = filename;
                location.reload();
            }
        };
    </script>
{% endblock %}
